.cart-container {
  background-image: url("http://pluspng.com/img-png/diamond-plate-png-hd-black-diamondplate-industrial-image-png-1920.png");
}

.cart-container h4 {
  font-size: 40px;
  color: lime;
}
.cart-info h2 {
  color: white;
}
