.header-container {
  display: flex;
  background: rgb(6, 6, 6);
}

.store_and_cart {
  display: flex;
  justify-content: flex-end;
}

.logo-container {
  display: flex;
  justify-content: space-evenly;
  width: 80vw;
}
.logo-image {
  position: absolute;
  top: 5px;
  left: 10px;
  height: 180px;
  width: 450px;
}

.total h1 {
  display: flex;
  justify-content: flex;
  /* padding: 00px; */
  margin-left: 460px;
  font-size: 20px;
}

.header-links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  margin: 20px;
  width: 100%;
  list-style: none;
  padding: 5vh;

  font-size: 30px;
}

.header-links button:hover {
  color: lime;
  background-color: black;
}
.header-links button {
  color: black;
  background-color: lime;
}
