.storefront-container {
  background-image: url("http://pluspng.com/img-png/diamond-plate-png-hd-black-diamondplate-industrial-image-png-1920.png");
  background-image: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0 40px;
}

.products-container {
  color: whitesmoke;
}
.storefront-container button {
  height: 45px;
  width: 150px;
  border-radius: 50px;
  background-color: lime;
  color: black;
}
.storefront-container button:hover {
  border-radius: 50px;
  color: lime;
  background-color: black;
}
